/* for responsive hero section  text-size override: */
@media (min-width: 544px) {
  .hero span {
    font-size: 3rem;
  } /*1rem = 16px*/
}

@media (max-width: 543px) {
  .toa {
    width: 100% !important;
    position: relative !important;
    left: -0.5rem !important;
    top: -15rem !important;
  }

  .card-body-align:not(:nth-child(3)) {
    text-align: left;
    margin-left: 25%;
  }

  .card--style {
    width: 100% !important;
  }

  .accordion-img {
    width: 100% !important;
    margin-top: 1rem;
  }

  .clients-layout {
    flex-direction: column;
    gap: 2rem;
  }
}
